<div class="container-fluid">
<form [formGroup]="signinClientForm" (ngSubmit)="onSubmit()">
    <div *ngIf="validMessage != ''">
        <h3 class="has-info">{{validMessage}}</h3>
    </div>
    
    <div class="form-group">
        <label for="courriel">Courriel</label>
        <input type="email" class="form-control" id="courriel" aria-describedby="emailHelp" placeholder="Courriel" formControlName="courriel">
    </div>
    <div class="form-group">
      <label for="motDePasse">Mot de passe</label>
      <input type="password" class="form-control" id="motDePasse" placeholder="Mot de passe" formControlName="motDePasse">
    </div>
    <div class="form-group">
        <label for="nomUtilisateur">Nom d'Utilisateur</label>
        <input class="form-control" id="nomUtilisateur" placeholder="Entrez votre nom d'utilisateur" formControlName="nomUtilisateur">
    </div>
    <div class="form-group">
          <label for="adresse">Adresse</label>
          <input class="form-control" id="adresse" placeholder="Entrez votre adresse" formControlName="adresse">
    </div>
    <button type="submit" class="btn btn-primary">Envoyez</button>
  </form>
</div>