<div class="container-fluid py-5">
<form [formGroup]="signinOrganismeForm" (ngSubmit)="onSubmit()">
    <div *ngIf="validMessage != ''">
        <h3 class="has-info">{{validMessage}}</h3>
    </div>
    
    <div class="form-group">
        <label for="courriel">Courriel</label>
        <input type="email" class="form-control" id="courriel" aria-describedby="emailHelp" placeholder="Courriel" formControlName="courriel">
    </div>
    <div class="form-group">
      <label for="motDePasse">Mot de passe</label>
      <input type="password" class="form-control" id="motDePasse" placeholder="Mot de passe" formControlName="motDePasse">
    </div>
    <div class="form-group">
        <label for="nomOrganisme">Nom de l'organisme</label>
        <input class="form-control" id="nomOrganisme" placeholder="Le nom de votre organisme" formControlName="nomOrganisme">
    </div>
    <div class="form-group">
          <label for="numTelephone">Numéro de téléphone</label>
          <input class="form-control" id="numTelephone" placeholder="Le numéro de téléphone de votre organisme" formControlName="numTelephone">
    </div>
    <button type="submit" class="btn btn-primary">Envoyez</button>
  </form>
</div>
